.form-task{
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.input-task{
outline: none;
width: 85%;
height: 100%;
border: 1px solid rgb(200, 255, 0);
font-size: 17px;
border-radius: 3px;
padding-left: 15px;
}

.form-task button{
  outline: none;
  border: none;
}

.add-icon{
  width: 60px;
  height: 100%;
  background: #019c28;
  color: #fff;
  border-radius: 3px;
  margin-left: 5px;
  cursor: pointer;
  opacity: 0.6;
  padding:12px;
  stroke-width: 1;
  pointer-events: none;
}

.form-task .add-icon.active {
  opacity: 1;
  pointer-events: auto;
}
